extends layout.pug

block content
  .container
    .row.justify-content-center
      .col-md-8
        .card
          .card-header Learn More
          .card-body
            h3 About Our Services
            .mb-3
              p We offer a wide range of services to help you achieve your goals.
              p Our expertise spans across various industries, and we pride ourselves on delivering the best results.
            h4 Our Mission
            .mb-3
              p Our mission is to provide top-notch services while maintaining a strong commitment to quality and customer satisfaction.
            h4 Why Choose Us?
            .mb-3
              ul
                li Experienced professionals with a track record of success
                li Customized solutions tailored to your needs
                li Commitment to excellence in every project
            h4 Contact Us
              p To learn more about how we can help you, feel free to get in touch through our contacts page.
              a.btn.btn-primary(href='/contacts') Go to Contacts
              a(href='/').ps-2 Back to Home
